@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@400;700&family=Open+Sans&family=Oswald:wght@700&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Gamja+Flower&family=Montserrat:wght@400;700&family=Open+Sans&family=Oswald:wght@700&family=Poor+Story&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Fragment+Mono&family=Gamja+Flower&family=Montserrat:wght@400;700&family=Open+Sans&family=Oswald:wght@700&family=Poor+Story&family=Ubuntu&display=swap');

body{
  background-image: url('/society/image/postbackground.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
}

header{
  display: flex;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 5000;
  margin-bottom: 5px;
  justify-content: space-between;
  transition: all 0.3s ease;
}

header.sticky{
  background-color: rgba(18, 19, 18, 0.9);
  height: 75px;
}

::-webkit-scrollbar{
  width: 10px;
}

.ContainerLessonImg .img1{
  width: 100%;
  height: 400px;
  opacity: 0.55;
  transition: 0.2s;
  object-fit: cover;
}

.ContainerLessonImg{
  position: relative;
}

.ContainerLessonImg .text{
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: "Open Sans";
}

.ContainerLessonImg .text span{
  color: #FFD700;
}

/**/
.ContainerList{
  justify-content: center;
  margin: 0 20%;
}

.ContainerList p{
  font-family: "Gamja Flower";
  color: white;
  font-size: 25px;
}

.ContainerList div{
  margin: 0 5px;
  width: 100%;
}

.ContainerList .List1, 
.ContainerList .List2,
.ContainerList .List3,
.ContainerList .List4,
.ContainerList .List5,
.ContainerList .List6{
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}

.ContainerList input, 
.ContainerList button,
.ContainerList select,
.ContainerList textarea{
  margin-top: 4px;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 15px 15px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-family: 'Ubuntu';
}
.ContainerList .List1 input,
.ContainerList .List3 input,
.ContainerList .List4 input{
  width: 98%;
}

.ContainerList .List1 .input2,
.ContainerList .List3 #Category,
.ContainerList .List3 #Price{
  width: 98%;
}

.ContainerList .List2 input,
.ContainerList .List5 textarea,
.ContainerList .List6 input{
  width: 99%;
}

.ContainerList .List4 input,
.ContainerList .List5 textarea{
  height: 250px;
  text-justify: inter-word;
}

.ContainerList .List4 input{
  text-align: center;
}

.ContainerList .List5 textarea{
  resize: none;  
  overflow-y: scroll;
}

.ContainerList .List6 .Save{
  display: flex;
  justify-content: end;
  margin-right: 13px;
}

.ContainerList .List6 .Post{
  margin-right: 10px;
}

.ContainerList .List6 .Save,
.ContainerList .List6 .Post{
  width: 10%;
  margin-top: 1%;
}

.ContainerList .List6 .Save input:hover{
  background-color: greenyellow;
}

.ContainerList .List6 .Post input:hover{
  background-color: gold;
}

.ContainerList .List4 input{
  display: flex;
  align-items: center;
  margin-top: -27%;
  margin-left: 17%;
  margin-bottom: -25%;
  width: 60%;
}

.ContainerList .List4 label{
  text-align: center;
  display: flex;
  width: 98%;
  height: 200px;
  padding: 10px;
  padding-top: 85px;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin: 3px auto;
  cursor: pointer;
  box-shadow: 15px 15px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Ubuntu';
}

@media only screen and (max-width: 1800px){
  .ContainerList{
    margin: 0 17%;
  }
}

@media only screen and (max-width: 1350px){
  .ContainerList{
    margin: 0 10%;
  }

  .ContainerLessonImg .img1{
    width: 100%;
    height: 300px;
    opacity: 0.55;
    transition: 0.2s;
    object-fit: cover;
  }
}

@media only screen and (max-width: 950px){
  .ContainerList{
    margin: 0 5%;
  }
  .ContainerLessonImg .img1{
    width: 100%;
    height: 250px;
    opacity: 0.55;
    transition: 0.2s;
    object-fit: cover;
  }
}

@media only screen and (max-width: 800px){
  .ContainerList{
    margin: 0 5%;
  }
  .ContainerLessonImg .img1{
    width: 100%;
    height: 200px;
    opacity: 0.55;
    transition: 0.2s;
    object-fit: cover;
  }
}
