body {
  height: 100%;
  width: 100%; /* Use width: 100% to take up the full width of the viewport */
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 5000;
  margin-bottom: 5px;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.navigationbar nav ul{
  margin-left: 26px;
}

header.sticky{
  background-color: rgba(18, 19, 18, 0.9);
  height: 75px;
}

.pictures {
  width: 85%;
  height: 500px;
  display: flex;
  z-index: 1000;
  position: absolute;
  margin-left: 110px;
  margin-top: 720px;
  justify-content: space-around;
  overflow: hidden; /* Added overflow property */
}

.hidden {
  width: 300px;
  height: 475px;
  z-index: 1000;
  align-content: center;
  margin-top: 20px;
  opacity: 0;
  transition: all 1.5s;
  filter: blur(5px);
  transform: translateX(-100%); /* Initially position elements outside the viewport */
}

.hidden:nth-child(5) {
  transition-delay: 0.6s;
}

.hidden:nth-child(4) {
  transition-delay: 0.4s;
}

.hidden:nth-child(3) {
  transition-delay: 0.2s;
}

.hidden:nth-child(2) {
  transition-delay: 0s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0); /* Move elements to their original position */
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.Mcontainer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

div.Banner, div.Container1, div.IframeContainer1, div.FooterContent{
  display: block;/*align horizontal*/
  margin-left: auto;/*align horizontal*/
  margin-right: auto;/*align horizontal*/
}

@media (max-width: 1920px) {
  .Mcontainer{
    width: 100%;
  }
}

img{
  max-width: 100%;
  height: auto;
}

Pic_Hidden img{
  border-radius: 30px;
  box-shadow: 2px 5px 10px black;
}

/* Banner 1 */
.Banner {
  background: linear-gradient(180deg, rgba(27, 27, 27, 1) 85%, rgba(59, 54, 95, 1) 100%);
  width: 100%;
  height: 1500px;
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: -3;
}

#BannerTitle {
  color: ghostwhite;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 105px;
  font-weight: 700;
  position: absolute;
  left: 630px;
  top: 180px;
  width: 899px;
  height: 416px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
  animation: SlideDown1 2s forwards;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes SlideDown1{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

#BannerTitle a{
  font-family: "Inter-Bold", sans-serif;
  font-size: 105px;
  font-weight: 700;
  width: 899px;
  height: 416px;
  z-index: 100;
  color: rgb(255, 13, 0);
  text-shadow: 5px 5px 5px black;
}

#Unleash {
  width: 934px;
  height: 190px;
  position: absolute;
  left: 85px;
  top: 100px;
  opacity: 0.6;
}

/* Keyframe animations for path 1 & 2 */

#WhitePath1, #GrayPath1 {
  opacity: 0;
  animation: animatePath1 0.55s forwards;
  animation-delay: 1.5s; 
}

@keyframes animatePath1 {
  0% {
    opacity: 0;
    transform: translate(100%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

#WhitePath2, #GrayPath2 {
  opacity: 0;
  animation: animatePath2 1s forwards;
  animation-delay: 2s; 
}

@keyframes animatePath2 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


#WhitePath1{
  width: 926px;
  height: 719px;
  position: absolute;
  z-index: -1;
}

#WhitePath2{
  width: 1534px;
  height: 550px;
  top: 600px;
  left: 0;
  position: absolute;
  z-index: -1;
}

#GrayPath1{
  width: 897;
  height: 738px;
  top: 0px;
  left: 70px;
  position: absolute;
  z-index: -2;
}

#GrayPath2{
  width: 1536px;
  height: 380px;
  top: 800px;
  left: 0;
  position: absolute;
  z-index: -2;
}

#Table{
  width: 449px;
  height: 365px;
  top: 120px;
  left: 190px;
  position: absolute;
  animation: SlideDown2 1s ease-out forwards;
  animation-delay: 2.5s;
  opacity: 0;
}

@keyframes SlideDown2{
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}


#Mastery{
  color: ghostwhite;
  font-family: "Inter-Bold", sans-serif;
  font-size: 100px;
  font-weight: 700;
  position: absolute;
  left: 380px;
  top: 1350px;
  width: 1275px;
  height: 145px;
  text-shadow: 2px 2px 10px black;
}

/* Skill Post Section */
.Container1{
  width: 100%; 
  height: 1200px; 
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}

.Background{
  width: 100%; 
  height: 1600px; 
  background: #3B365F;
}

/* Three Main Button */
#LecturerSelect, #TopSelect, #CourseSelect{
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.9) 44.79166567325592%,rgba(27, 27, 27, 1) 90%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  width: 190px;
  height: 65px;
  top: 20px;
  position: absolute;
  border: none;
  text-align: center;
  padding: 5px;
  box-shadow: 2px 2px 10px black;
}

#LecturerSelect {
  left: 385px;
}

#TopSelect {
  left: 665px;
}

#CourseSelect {
  left: 950px;
}

#LecturerSelect option, #CourseSelect option{
  color: black;
  width: 100%; /* Make the options fill the width of the select element */
  box-sizing: border-box; /* Include padding and border in the width */
}

/* Category Section */
#Productivity, #Photography, #Art, #Marketing, #Accounting, #Magic, #Music, #GraphicDesign, #Animation, #Coding, #Crafts{
  border-radius: 30px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background:rgba(255, 255, 255, 0);
  border-width: 3px;
  width: 200px;
  height: 69px;
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
}

#TopSelect:active,
#LecturerSelect:active,
#CourseSelect:active{
  transform: scale(0.95);
  transition: transform 0.2s ease;
}

#Productivity, #Photography, #Art, #Marketing, #Accounting, #Magic{
  top: 320px;
}

#Music, #GraphicDesign, #Animation, #Coding, #Crafts{
  top: 200px;
}

#Productivity {
  left: 80px;
}

#Photography {
  left: 315px;
}

#Art{
  left: 540px;
}

#Marketing {
  left: 770px;
}

#Accounting {
  left: 1000px;
}

#Magic {
  left: 1230px;
}

#Music {
  left: 190px;
}

#GraphicDesign {
  left: 420px;
}

#Animation {
  left: 655px;
}

#Coding {
  left: 890px;
}

#Crafts {
  left: 1120px;
}

#Productivity:hover,
#Photography:hover,
#Art:hover,
#Marketing:hover,
#Accounting:hover,
#Magic:hover,
#Music:hover,
#GraphicDesign:hover,
#Animation:hover,
#Coding:hover,
#Crafts:hover{
  background-color: rgb(41, 196, 105);
  transition: background-color 0.2s ease, transform 0.2s ease; /* Add smooth transition for the effect */
  cursor: pointer;
}

#Productivity:active,
#Photography:active,
#Art:active,
#Marketing:active,
#Accounting:active,
#Magic:active,
#Music:active,
#GraphicDesign:active,
#Animation:active,
#Coding:active,
#Crafts:active{
  transform: scale(0.95);
}


.SkillCategory.clicked {
  background: red;
}

/* Skill Sync Post - iframe - skillsyncpost.htm */
.IframeContainer1 {
  top: 450px;
  width: 100%;
  height: 825px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
  grid-template-rows: repeat(3, 1fr); /* Three rows with equal height */
  gap: 50px 50px; /* Spacing between items */
  padding: 35px;
  overflow-x: hidden;
  overflow-y: auto;
}

.DownPost{
  max-width: 100%;
  max-height: 500px;
}

/* Footer */
.Footer {
  width: 100%;
  height: 400px;
  position: absolute;
  background: linear-gradient(180deg, #3b365f 5%, #924289 100%);
  z-index: 10;
  margin-bottom: 0;
}

.FooterContent{
  display: flex;
  width: 100%;
  position: absolute;
  margin-top: 50px;
}

/* Main Content Control Footer */
.Content1{
  display: flex;
  justify-content: space-between;
  margin: 0% 8% 10px 8%;
}

.Content1 p{
  margin: 20px; /*Word-Spacing*/
}

.Content2{
  margin: 5px 10%;
  display: flex;
  flex-direction: column;
}
  
.Content3{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.Content3 a{
  text-decoration: none;
}

.Footer h1{
  color: black; 
  font-size: 30px; 
  font-family: Roboto; 
  font-weight: bold; 
  text-align: center;
}

.Footer h1 a{
  text-decoration: none;
}

#Line1{
  width: 150px; /*Size of the line*/
  border: 2px solid black;
  margin: 0;
  margin-left: 25px;
  border-radius: 30px;
}

#JFFooter, #SSFooter, #EFooter, #AboutUs{
  width: 200px; /*Size of the word*/
  margin-top: 20px;
}

.Footer p, #TextLink{
  color: black; 
  font-size: 25px; 
  font-family: Roboto;
  font-weight: 400px;
  text-align: center;
}

/* 4 Logo Images */
#Twitter, #Facebook, #Insta, #Youtube{
  width: 70px; 
  height: 70px;
  margin-left: 45px;
  margin-right: -45px;
}

.Content4{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/* Footer Slogan */
#FooterSlogan{
  width: 380px;
  text-align: center; 
  color: black; 
  font-size: 36px; 
  font-family: Roboto; 
  font-weight: bold; 
  line-height: 1.1;
}

.Content4 h3 p {
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 8px;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ff00e1, #7300ff);
  animation: bouncey 2s infinite;
  animation-delay: 5s;
}

@keyframes bouncey {
  0%, 20%, 50%{
    transform: translateY(0); /* No vertical movement at these points */
  }
  40% {
    transform: translateY(-6px); /* Bounce up at 40% */
  }
  60% {
    transform: translateY(-3px); /* Bounce up at 60% */
  }
}

#Line2 {
  width: 1200px; /*Size of the line*/
  margin-top: 20px;
  height: 1px;
  border: 2px solid black;
  border-radius: 20px;
  background-color:black;
}

#TermsOfUse, #PrivacyPolicy{ 
  color: black; 
  font-size: 25px; 
  font-family: Roboto; 
  font-weight: 400;
  width: 200px;
  font-weight: bold;
  margin-top: 10px;
}